<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Carter Pedersen </title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="">
    <%= @inner_content %>
    <footer class="tc bg-black-90">
      <h1 class="mb0 black-90 f3 lh-copy avenir"> - </h1>
      <h1 class="mb0 white-90 f3 lh-copy avenir" id="contact">Connect with me</h1>
      <div class="pt0 pb4">
        <%= render PersonalSiteWeb.ComponentsView, "social_icons.html" %>
      </div>
    </footer>
  </body>
</html>
